@model Platform_Movies.Models.DTO.MovieListVm
@{
    Layout = "_Layout";
}
<section class="search-bar">
    <form method="get" asp-action="Index">
        <input type="text" name="term" placeholder="name of movie...">
        <button type="submit"><i class="fa fa-search"></i></button>
        <a class="btn btn-default" href="/Home/Index">back</a>
    </form>
</section>
<section class="movies">
    @foreach (var movie in Model.MovieList)
    {
        <div class="movie-card " onclick="window.location.href='/Home/MovieDetail?movieId=@movie.Id'">
            <div class="movie-image">
                <img src="~/Uploads/@movie.MovieImage">
            </div>
            <div class="movie-info ">
                <h3 class="text-primary">@movie.Title</h3>
                <h5 >@movie.GenreNames</h5>
                <h5>@movie.ReleaseYear</h5>
                <h5>Cast : @movie.Cast</h5>
                <h5>Director : @movie.Director</h5>
            </div>
        </div>
    }
</section>

<div class="pagination">
    @for (int i = 1; i <= Model.TotalPages; i++)
    {
        if (i == Model.CurrentPage)
        {
            <a href="/Home/Index?currentPage=@i&term=@Model.Term" class="active">@i</a>
        }
        else
        {
            <a href="/Home/Index?currentPage=@i&term=@Model.Term">@i</a>

        }
    }

</div>